:root {
  --white-shade: #fafafa;
  --white: #ffffff;
  --int-blue: #360ccc;
  --base: #121212;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: 'Padauk', sans-serif;
  color: var(--white-shade);
  background-color: var(--base);
  position: relative;
}
