.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fontutility {
  font-size: 2rem;
}
.marginutility {
  margin: 2rem 0;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  padding: 1rem 3rem;
  border: none;
  color: var(--white);
  background-color: var(--int-blue);
  font-size: 1.5rem;
  border-radius: 3px;
  font-family: inherit;
  cursor: pointer;
}
.footer {
  width: 100%;
  height: 10rem;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 6rem;
  font-weight: bold;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 3.5rem;
}
.link {
  text-decoration: none;
  color: var(--int-blue);
}
